# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Reports & screenshots (păstrăm doar folderele)
reports/*
screenshots/*
!reports/.gitkeep
!screenshots/.gitkeep

# OS files
.DS_Store
Thumbs.db